<div class="container welcome row">
  <h2 class="col s12 center">Welcome {{theuser}}!</h2>
  <p class="col s12 center">(service provider)</p>
</div>
<div class="displayBox">  
  <div class="row container">
    <div class="col m12 l4">
      <h3>Job Assignments</h3>
      {{#each assignmentData as |assignment|}}
        <div class="card-panel grey lighten-4">
          <a class="light-blue-text lighten-3" href="/orders/job/{{assignment.job.id}}">{{assignment.job.job_title}}</a>
          <p class="black-text">Applied on {{format_dates assignment.createdAt}}</p>
          <p class="black-text">Status - {{getAssignStatus assignment}}</p>
          <p class="black-text">Last updated - {{format_dates assignment.job.updated_at}}</p>
        </div>
      {{/each}}
    </div>
    <div class="col m12 l8">
      <h3>See all Jobs</h3>
      {{#each jobData as |job|}}
        <div class="card-panel grey lighten-4">
          <a class="light-blue-text lighten-3" href="/orders/job/{{job.id}}">{{job.job_title}}</a>
          <p class="black-text">Created by {{job.user.username}} on {{format_dates job.createdAt}}</p>
          <p class="black-text">Status - {{job.status.status_text}}</p>
          <p class="black-text">Last updated - {{format_dates job.updatedAt}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>