<div class="container row">
  <h2 class="col s12 center">Welcome {{theuser}}</h2>
  <p class="col s12 center">(customer)</p>
</div>

<div class="container">
  <h3>Your Jobs</h3>
  <button class="createJobBtn btn green waves-effect waves-light"><i class="material-icons left">add</i>New Job</button>
  </ul>
  <table class="highlight card centered">
    <thead>
      <tr class="blue lighten-2 white-text">
        <th>Title</th>
        <th>Created Date</th>
        <th>Job Status</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    {{#each jobData as |job|}}
    <tbody>
      <tr>
        <td class="waves-light"><a href="/orders/job/{{job.id}}">{{job.job_title}}</a></td>
        <td>{{format_dates job.created_at}}</td>
        <td>{{job.status.status_text}}</td>
        <td>{{format_dates job.updated_at}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>

<div class="row container">
  <div class="col s12">
    <div class="container" id="addNewJobForm">
      <form class="addNewJobForm">
        <h4 class="blue-text center">CREATE NEW JOB</h4>
        <div>
          <label for='jobTitle'>TITLE: </label>
          <input type='text' id='jobTitle' />
        </div>
        <div>
          <label for='jobText'>DESCRIPTION: </label>
          <textarea id="jobText" class="materialize-textarea"></textarea>
        </div>    
        <div>
            <label for='jobAddress'>ADDRESS: </label>
            <textarea class="materialize-textarea" id='jobAddress'></textarea>
          </div>
          <div>
            <label for='jobContact'>CONTACT: </label>
            <input type='text' id='jobContact' />
          </div>
          <div>
            <button class="createJobSubmitBtn btn green" type="submit">Submit</button>
            <button class="createJobCancelBtn btn red-text transparent " >Cancel</button>
          </div>
          </ul>
        </form>  
        <p class="alertMessage"></p>       
    </div>
  </div>
</div>
<script src="/assets/javascript/createNewJob.js"></script>