<div class="displayBox">
  <div class="row container">
    <div class="col s12">
      <p>JOB DATA</p>
      <p>{{jobData.job_title}}</p>
      {{#each jobData.job_text as |text|}}
        <p>{{text}}</p>
      {{/each}}
      <p>Customer: {{jobData.user.username}}</p>
      <p>Address: {{jobData.job_address}}</p>
      <p>Contact: {{jobData.job_contact}}</p>
      <p>Email: {{jobData.user.email}}</p>
      <p>Status: {{jobData.status.status_text}}</p>
      <p>Created on: {{format_dates jobData.createdAt}}</p>
      <p>Last updated: {{format_dates jobData.updatedAt}}</p>

      {{#unless isService}}
        <div class="editDeleteBtn">
          <button class="jobEditBtn green">EDIT</button>
          <button class="jobDeleteBtn red" >DELETE</button>
        </div>
        <!---EDIT FORM FOR JOB--->
        <div class="container" id="editJobForm">
          <form class="editJobForm">
            <div>
              <p>EDIT YOUR JOB</p>
            </div>
            <div>
              <label for='jobEditTitle'>TITLE: </label>
              <input type='text' id='jobEditTitle' />
            </div>
            <div>
              <label for='jobEditDescription'>DESCRIPTION: </label>
              <textarea id="jobEditDescription" class="materialize-textarea"></textarea>
            </div>
            <div>
              <label for='jobEditAddress'>ADDRESS: </label>
              <textarea class="materialize-textarea" id='jobEditAddress'></textarea>
            </div>
            <div>
              <label for='jobEditContact'>CONTACT: </label>
              <input type='text' id='jobEditContact' />
            </div>
            <div>
              <button class="editJobSubmitBtn green" type="submit">Submit</button>
              <button class="editJobCancelBtn" >Cancel</button>
             </div>
          </form>         
        </div>
        <script src="/assets/javascript/editDeleteJob.js"></script>
      {{/unless}}
      
      {{#if isService}}
        {{#if applied}}

          <p>YOUR APPLICATION</p>
          <p>Quoted Cost: ${{yourApplication.cost}}</p>
          <p>Order number: {{yourApplication.order_number}}</p>
          <p>Application status: </p>
          {{#if yourApplication.start_date}}
            <p>Start date: {{yourApplication.start_date}}</p>
          {{/if}}
          {{#if yourApplication.completed_date}}
            <p>Completed date: {{yourApplication.completed_date}}</p>
          {{/if}}
          <p>Applied on: {{format_dates yourApplication.createdAt}}</p>
          <p>Last updated: {{format_dates yourApplication.updatedAt}}</p>
          <div class="editDeleteBtn">
            <button class="editAssignBtn green">EDIT</button>
            <button class="deleteAssignBtn red" >DELETE</button>
          </div>
          <script src="/assets/javascript/editDeleteAssignment.js"></script>
        {{else}}

          <button class="applyJobBtn">Apply</button>
          <div class="container" id="applyJobForm">
            <form class="applyJobForm">
              <div>
                <label for='assignmentCost'>COST: </label>
                <input type='text' id='assignmentCost' />
              </div>
              <div>
                <label for='assignmentOrderNo'>ORDER#: </label>
                <input type='text' id='assignmentOrderNo' />
              </div>
              <!--<div>
                <label for='startDate'>PROPOSED START DATE: </label>
                <input type='text' id='startDate' />
              </div>-->
              <div>
                <button class="applyJobSubmitBtn green" type="submit">Submit</button>
                <button class="applyJobCancelBtn" >Cancel</button>
              </div>
            </form>         
          </div>
          <script src="/assets/javascript/applyNewJob.js"></script>
        {{/if}}

      {{else}}
        <p>ASSIGNMENTS</p>
        {{#if approval}}

          {{#each jobData.assignments as |assignment|}}
            <p>Service provider: {{assignment.user.username}}</p>
            <p>Service type: {{assignment.user.service.service_type}}</p>
            <p>Order number: <span class="orderNumber">{{assignment.order_number}}</span></p>
            <p>Cost: ${{assignment.cost}}</p>   
            {{#if assignment.approved_status}}
              <button class="green">ASSIGNED</button>
            {{else}}
              <button class="red">REJECTED</button>
            {{/if}}
          {{/each}}

        {{else}}
       
          {{#each jobData.assignments as |assignment|}}
          <p>Service provider: {{assignment.user.username}}</p>
          <p>Service type: {{assignment.user.service.service_type}}</p>
          <p>Order number: <span class="orderNumber">{{assignment.order_number}}</span></p>
          <p>Cost: ${{assignment.cost}}</p> 
          <button class="approveAssignmentBtn green">APPROVE</button>
          {{/each}}
          <script src="/assets/javascript/approveAssignment.js"></script>

        {{/if}}
        
        
      {{/if}}
       <p class="alertMessage"></p>
    </div>
  </div>
</div>