<div class="container">
  <div class="row">
    <div class="formDisplayBox">
      <div class="backButton blue-text col s12">
        <div class="backClick">
          <i class="small material-icons">arrow_back</i>
          <p class="left">BACK</p>
        </div>
      </div>
      <!---JOB DATA VIEW FOR ALL--->  
      <div>
        <h4 class="blue lighten-3 white-text center col s12">{{jobData.job_title}}</h4>
      </div>

      <div class="row">
        <h5 class="blue-text center">Job Details</h5>

        <ul>
          <li class="col s12">
            <p><b>Description: </b>
          {{#each jobData.job_text as |text|}}
          {{text}}
          {{/each}}</p>
          </li>
          <li class="col s12"><p><b>Status: </b>{{jobData.status.status_text}}</p></li>
          <li class="col s12"><p><b>Created on: </b>{{format_dates jobData.createdAt}}</p></li>
          <li class="col s12"><p><b>Last updated: </b>{{format_dates jobData.updatedAt}}</p></li>
        </ul>
      </div>

      <div class="row">
        <h5 class="blue-text center">Customer Details</h5>

        <ul>
          <li class="col s12"><p><b>Name: </b>{{jobData.user.username}}</p></li>
          <li class="col s12"><p><b>Address: </b>{{jobData.job_address}}</p></li>
          <li class="col s12"><p><b>Contact: </b>{{jobData.job_contact}}</p></li>
          <li class="col s12"><p><b>Email: </b>{{jobData.user.email}}</p></li>
        </ul>
      </div>

      <!---JOB DATA EDIT DELETE OPTION FOR THE CUSTOMER WHO CREATED IT---> 
      {{#unless isService}}
        <div class="editDeleteBtn center">
          <button class="jobEditBtn btn green">EDIT</button>
          <button class="jobDeleteBtn btn red" >DELETE</button>
        </div>
        <!---EDIT FORM FOR JOB--->
        <div class="container" id="editJobForm">
          <form class="editJobForm">
            <div>
              <h5 class="blue-text center">Edit Job Request</h5>
            </div>
            <div>
              <label for='jobEditTitle'>TITLE: </label>
              <input type='text' id='jobEditTitle' />
            </div>
            <div>
              <label for='jobEditDescription'>DESCRIPTION: </label>
              <textarea id="jobEditDescription" class="materialize-textarea"></textarea>
            </div>
            <div>
              <label for='jobEditAddress'>ADDRESS: </label>
              <textarea class="materialize-textarea" id='jobEditAddress'></textarea>
            </div>
            <div>
              <label for='jobEditContact'>CONTACT: </label>
              <input type='text' id='jobEditContact' />
            </div>
            <div>
              <button class="editJobSubmitBtn btn green" type="submit">Submit</button>
              <button class="editJobCancelBtn btn red-text transparent" >Cancel</button>
             </div>
          </form>         
        </div>
        <script src="/assets/javascript/editDeleteJob.js"></script>
      {{/unless}}
      <!---ORDER PAGE APPLICATION VIEW FOR SERVICE PROVIDER--->      
      {{#if isService}}
        <!---ORDER PAGE APPLICATION VIEW FOR SERVICE PROVIDER IF ALREADY APPLIED FOR THE JOB--->  
        {{#if applied}}

        <div class="row">

          <h5 class="blue-text grey lighten-4 center">Your Application</h5>

          <ul>
            <li><p><b>Quoted Cost: </b>${{yourApplication.cost}}</p></li>
            <li><p><b>Order number: </b><span class="AssignOrderNumber">{{yourApplication.order_number}}</span></p></li>
            <li class="col s12 center"><h6 class="blue-text">Application status - 
              {{#if approval}}
                {{#if yourApplication.approved_status}}
                  Application accepted!
                {{else}}
                  Application rejected!  
                {{/if}}
              {{else}}
                Job applied!
              {{/if}}
            </h6></li>
            <li><p><b>Applied on: </b>{{format_dates yourApplication.createdAt}}</p></li>
            <li><p><b>Last updated: </b>{{format_dates yourApplication.updatedAt}}</p></li>
            {{#if yourApplication.start_date}}
            <li class="col s12 center"><h6 class="blue-text">Job Status</h6></li>
            <li>
              <p><b>Started on: </b>{{yourApplication.start_date}}</p>
            </li>
            <li>
              <p><b>Completed on: </b>{{yourApplication.complete_date}}</p>
            </li>
            {{/if}}
          </ul>
        
        </div>

          <div class="editDeleteBtn center">
            {{#if approval}}
              {{#if yourApplication.approved_status}}
                <button class="editAssignBtn btn green">EDIT</button>
                <button class="deleteAssignBtn btn red" >DELETE</button>
                <script src="/assets/javascript/assignmentEditDelete.js"></script>
              {{/if}}
            {{else}}
              <button class="editAssignBtn btn green">EDIT</button>
              <button class="deleteAssignBtn btn red" >DELETE</button>
              <script src="/assets/javascript/assignmentEditDelete.js"></script>
            {{/if}}
          </div>
          
          <!---EDIT FORM FOR SERVICE PROVIDER IF THEY CREATED IT--->
          <div class="container" id="editAssignForm">
            <form class="editAssignForm">
              <div>
                <h5 class="blue-text center">Edit Job Request</h5>
              </div>
              <div>
                <label for='assignEditCost'>COST: </label>
                <input type='text' id='assignEditCost' />
              </div>
              <div>
                <label for='assignEditStartDate'>START DATE: </label>
                <input type='text' id='assignEditStartDate' />
              </div>
              <div>
                <label for='assignEditCompleteDate'>COMPLETE DATE: </label>
                <input type='text' id='assignEditCompleteDate' />
              </div>
              <div>
                <button class="editAssignSubmitBtn btn green" type="submit">Submit</button>
                <button class="editAssignCancelBtn btn red-text transparent" >Cancel</button>
              </div>
            </form>         
          </div>
          <script src="/assets/javascript/editAssignmentSubmit.js"></script>
        <!---ORDER PAGE APPLICATION VIEW FOR SERVICE PROVIDER IF NOT APPLIED FOR THE JOB--->
        {{else}}

          <div class="center">
            <button class="applyJobBtn btn green">Apply</button>
          </div>

          <div class="container" id="applyJobForm">
            <form class="applyJobForm">
              <div>
                <label for='assignmentCost'>COST: </label>
                <input type='text' id='assignmentCost' />
              </div>
              <!--<div>
                <label for='assignmentOrderNo'>ORDER#: </label>
                <input type='text' id='assignmentOrderNo' />
              </div>-->
              <div>
                <button class="applyJobSubmitBtn btn green" type="submit">Submit</button>
                <button class="applyJobCancelBtn btn red-text transparent" >Cancel</button>
              </div>
            </form>         
          </div>
          <script src="/assets/javascript/applyNewJob.js"></script>
        {{/if}}
      <!---ORDER PAGE APPLICATION VIEW FOR CUSTOMERS---> 
      {{else}}
        {{#if jobData.assignments}}
          <h4 class="blue-text center">Application for the order</h4>
        {{/if}}
        <!---ORDER PAGE APPLICATION VIEW FOR CUSTOMERS IF THEY HAVE APPROVED ANY ASSIGNMENT--->
        {{#if approval}}
          <ul class="allApplicationList">
          {{#each jobData.assignments as |assignment|}}
            <div class="allAssignmentList">
              <li><p><b>Service provider: </b>{{assignment.user.username}}</p></li>
              <li><p><b>Service type: </b>{{assignment.user.service.service_type}}</p></li>
              <li><p><b>Order number: </b><span class="orderNumber">{{assignment.order_number}}</span></p></li>
              <li><p><b>Cost: </b>${{assignment.cost}}</p></li>
              {{#if assignment.approved_status}}
              <li class="col s12 center"><button class="grey btn">ASSIGNED</button></li>
              {{else}}
              <li class="col s12 center"><button class="red btn">REJECTED</button></li>
              {{/if}}
            </div>
          {{/each}}
          </ul>
        <!---ORDER PAGE APPLICATION VIEW FOR CUSTOMERS IF THEY HAVE NOT APPROVED ANY ASSIGNMENT--->
        {{else}}
      
        <ul class="allApplicationList">
          {{#each jobData.assignments as |assignment|}}
            <div class="allAssignmentList">
              <li><p><b>Service provider: </b>{{assignment.user.username}}</p></li>
              <li><p><b>Service type: </b>{{assignment.user.service.service_type}}</p></li>
              <li><p><b>Order number: </b><span class="orderNumber">{{assignment.order_number}}</span></p></li>
              <li><p><b>Cost: </b>${{assignment.cost}}</p></li>
              <li class="col s12 center"><button class="approveAssignmentBtn btn green">APPROVE</button></li>
            </div> 
          {{/each}}
        </ul>
          {{#if jobData.assignments}}
          <script src="/assets/javascript/approveAssignment.js"></script>
          {{/if}}
        {{/if}}
        
        
      {{/if}}
      <p class="alertMessage"></p>
      <script src="/assets/javascript/backClick.js"></script>
    </div>
  </div>
</div>
</div>